        <div fxFlexFill fxLayout="column">
          <mat-form-field color="accent" style="flex: 1 1 auto;">
              <span matPrefix>
                  <mat-icon matSuffix>search</mat-icon>
              </span>
              <input (keyup)="applyFilter($event.target.value)" matInput type="text" placeholder="Search coin" [(ngModel)]="kerko"/>
              <button mat-button *ngIf="kerko" matSuffix mat-icon-button aria-label="Pastro" (click)="kerko='';applyFilter('')">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>

        <div class="datazz">
      <mat-table #table [dataSource]="dataSource" matSort  matSortActive="SortOrder" matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="SortOrder">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Nr </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.SortOrder}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Logo">
            <mat-header-cell *matHeaderCellDef > Logo </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.Name}} <br/>
                <img class="coin_logo" src="https://www.cryptocompare.com/{{element.ImageUrl}}" alt="Coin logo">
               </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.FullName}}  </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Algorithm">
            <mat-header-cell *matHeaderCellDef > Algorithm </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Algorithm}}  </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ProofType">
            <mat-header-cell *matHeaderCellDef > Proof Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ProofType}}  </mat-cell>
          </ng-container>


          <ng-container matColumnDef="TotalCoinSupply">
            <mat-header-cell *matHeaderCellDef > Tot. C. Supply </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.TotalCoinSupply}}  </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Details">
            <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
            <mat-cell *matCellDef="let element">

                <button mat-icon-button >
                    <mat-icon>play_circle_outline</mat-icon>
                 </button>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
      </div>

        <mat-paginator [pageSizeOptions]="[20, 30, 40, 100, 200, 300, 500, 1000]"></mat-paginator>

      </div>
